@model IEnumerable<TallinnaRakenduslikKolledž.Models.Department>
@{
	ViewData["Title"] = "Osakonnad";
}
<h1>Osakonnad</h1>
<p>
	<a asp-action="Create">Loo uus osakond</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(model => model.Name)</th>
			<th>@Html.DisplayNameFor(model => model.Budget)</th>
			<th>@Html.DisplayNameFor(model => model.StartDate)</th>
			<th>@Html.DisplayNameFor(model => model.Administrator)</th>
			<th>@Html.DisplayNameFor(model => model.RowVersion)</th>
			<th>@Html.DisplayNameFor(model => model.EndDate)</th>
			<th>@Html.DisplayNameFor(model => model.SigmaStatus)</th>
			<th>Tööriistad)</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var department in Model)
		{
			<tr>
				<td> @Html.DisplayFor(modelItem => department.Name)</td>
				<td> @Html.DisplayFor(modelItem => department.Budget)</td>
				<td> @Html.DisplayFor(modelItem => department.StartDate)</td>
				<td> @Html.DisplayFor(modelItem => department.Administrator)</td>
				<td> @Html.DisplayFor(modelItem => department.RowVersion)</td>
				<td> @Html.DisplayFor(modelItem => department.EndDate)</td>
				<td> @Html.DisplayFor(modelItem => department.SigmaStatus)</td>
				<td>
					@* /* Muuda */ *@
					@* /* Vaata */ *@
					@* /* Vaata Adminit */ *@
					@* /* Kustuta */ *@
					<a asp-action="Delete" asp-route-id="@department.DepartmentID" class="btn btn-danger">Eemalda</a>
					<a class="btn btn-danger" asp-area="" asp-controller="Departments" asp-action="Details">Vaata</a>
				</td>
			</tr>
		}
	</tbody>
</table>